﻿
<!DOCTYPE html>

<html lang="en-US" style="height: auto;">
<head>

    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b8b8b8">
    <meta name="apple-mobile-web-app-title" content="Gymentor">
    <meta name="application-name" content="Gymentor">
    <meta name="theme-color" content="#b8b8b8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gymentor</title>
    <meta name="description" content="Gymentor - Personalised Training Programs. We are an Online Personal Training service that offers Personalized Workout plans based on your fitness goals and offers you your own personal mentor.">
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="author" content="Gymentor">
    <meta name="keywords" content="gymentor, gym, program, personal training, healthy, fitness, home workout, strength" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,500" rel="stylesheet" type="text/css"> <!-- Body font -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css"> <!-- Navbar font -->
    <!-- Libs and Plugins CSS -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    @Styles.Render("~/Content/unika_css/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body data-target="#main-navbar" data-spy="scroll">
    <div class="page-loader" style="display: none;"></div>  <!-- Display loading image while page loads -->
    <div class="body">

        <!--========== BEGIN HEADER ==========-->
        <header class="header-main" id="header">
            <!-- Begin Navbar -->
            <nav class="navbar navbar-default navbar-fixed-top navbar-shrink" id="main-navbar" role="navigation">
                <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll">Gymentor</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="body">Home</a></li>
                            <li><a class="page-scroll" href="#about-section">About</a></li>
                            <li><a class="page-scroll" href="#prices-section">Prices</a></li>
                            <li><a class="page-scroll" href="#team-section">Team</a></li>
                            <li><a class="page-scroll" href="#contact-section">Contact</a></li>
                            <li><a class="page-scroll" href="http://tracker.gymentor.co.za" target="_blank">Login/Sign-up</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav>
            <!-- End Navbar -->
        </header>
        <!-- ========= END HEADER =========-->
        <!-- Begin text carousel intro section -->
        <section class="parallax" id="text-carousel-intro-section" style='background-position: 0px 0px; background-image: url("@Url.Content("~/Content/images")/canva-photo-editor.png");' data-stellar-background-ratio="0.5">
            <div class="page-header-wrapper">
                <div class="container" style="padding-top:280px;">
                    <div class="page-header text-center wow fadeInDown" style="visibility: hidden; animation-name: none; animation-delay: 0.4s;" data-wow-delay="0.4s">
                        <h2 style="color:white">If not now, When?</h2>
                    </div>
                </div>
            </div>
            <div style="font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: 700; font-size:20px; margin-bottom: 10px; text-align:right; padding-right:60px; padding-top:100px"><a style="color:white; text-decoration:none" href="http://tracker.gymentor.co.za/Authentication/Register" target="_blank">Free 1-Day Trial ></a></div>
        </section>
        <!-- End text carousel intro section -->
        <div id="box" style="cursor:pointer">
            <a class="page-scroll" href="#about-section_dropdown" onclick="show('about')" style="text-decoration:none">
                <section class="parallax" id="about-section" style='background-position: 0px 0px; background-image: url("@Url.Content("~/Content/images/new.jpg")"); height:500px;' data-stellar-background-ratio="0.5">
                    <div class="page-header-wrapper">
                        <div class="container" style="padding-top:180px;">
                            <div class="page-header text-center wow fadeInDown" style="visibility: hidden; animation-name: none; animation-delay: 0.4s;" data-wow-delay="0.4s">
                                <h2 style="color:white">About</h2>
                                <p class="subtitle" style="color:white">Click for more info</p>
                            </div>
                        </div>
                    </div>
                </section>
            </a>
            <div id="about" style="display:none">
                <!-- Begin about section -->
                <section class="page bg-style1" id="about-section_dropdown" style="background-color: rgba(0, 7, 11, 0.87)">

                    <div class="extra-space-l"></div>
                    <!-- Begin rotate box-1 -->
                    <div class="rotate-box-1-wrapper">
                        <div class="container">
                            <div class="devider"></div>
                            <div class="extra-space-l"></div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <p style="font-size: 17px; text-align:center; color: white;">
                                        We believe that many people aren’t lazy or unmotivated, but simply do not have the financial means to hire a personal trainer, and with this in mind Gymentor was created. If you would like generic workout plans then Gymentor is not for you, we design a unique program with all your needs in mind and will mentor you throughout your fitness journey.
                                    </p>
                                </div>
                            </div>
                            <div class="extra-space-l"></div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6" style="text-align:center">
                                    <a class="rotate-box-1 square-icon wow zoomIn animated" style="visibility: visible; animation-name: zoomIn; animation-delay: 0s;" data-wow-delay="0">
                                        <span class="rotate-box-icon"><i class="fa fa-question"></i></span>
                                        <div class="rotate-box-info" style="color:white">
                                            <h4>What We Offer</h4>
                                            <p>- Personalized Training Programs</p>
                                            <p>- Your own Online Mentor</p>
                                            <p>- Access to videos showing how your workouts are done in action and correctly</p>
                                            <p>- Stats and Progress Tracker</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-sm-6" style="text-align:center">
                                    <a class="rotate-box-1 square-icon wow zoomIn animated" style="visibility: visible; animation-name: zoomIn; animation-delay: 0.2s;" data-wow-delay="0.2s">
                                        <span class="rotate-box-icon"><i class="fa fa-heart"></i></span>
                                        <div class="rotate-box-info" style="color:white">
                                            <h4>Benefits</h4>
                                            <p>- Workout on your own schedule</p>
                                            <p>- Affordabilty (Personal Trainer's hourly rates are extremely expensive)</p>
                                            <p>- Communication and access to a quailified personal trainer</p>
                                            <p>- Tracking your results</p>
                                        </div>
                                    </a>
                                </div>
                            </div> <!-- /.row -->
                            <div class="row">
                                <br />
                                <div class="col-md-12 col-sm-12">
                                    <p style="font-size: 20px; text-align:center; color: white;">
                                        <b>Why you should go with Gymentor</b>                                    
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <p style="font-size: 17px; text-align:center; color: white;">
                                        Our trainers are National Academy Sports Medicine qualified, which is highly respected in the Fitness Industry. Not only are they qualified, Gymentor's Trainers have experienced the hardships of getting the body you want and most importantly they know what it takes, which makes them the ideal mentors for you.                                    </p>
                                </div>
                                <br />
                            </div>
                        </div> <!-- /.container -->
                    </div>
                    <!-- End rotate box-1 -->
                </section>
                <!-- End about section -->
            </div>
        </div>
        <div id="box2" style="cursor:pointer">
            <a class="page-scroll" href="#prices-section-dropdown" onclick="show('prices')" style="text-decoration:none">
                <section class="parallax" id="prices-section" style='background-position: 0px 0px; background-image: url("@Url.Content("~/Content/images")/Picture4.jpg"); height:500px;' data-stellar-background-ratio="0.5">
                    <div class="page-header-wrapper">
                        <div class="container" style="padding-top:180px">
                            <div class="page-header text-center wow fadeInDown" style="visibility: hidden; animation-name: none; animation-delay: 0.4s;" data-wow-delay="0.4s">
                                <h2 style="color:black">Prices</h2>
                                <p class="subtitle" style="color:black">Click for more info</p>
                            </div>
                        </div>
                    </div>
                </section>
            </a>
            <div id="prices" style="display:none">
                <!-- Begin prices section -->
                <section class="page bg-style1" id="prices-section-dropdown" style="background-color: rgba(0, 7, 11, 0.87)">
                    <div class="extra-space-l"></div>
                    <!-- Begin prices -->
                    <div class="prices">
                        <div class="container">
                            <div class="devider"></div>
                            <div class="extra-space-l"></div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12" style="padding-bottom:20px">
                                    <br />
                                    <p style="text-align: center; font-size: 20px; color:white">No Contracts, No Subscriptions, No Debit orders. You pay for the months you're able to train - it's that simple.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12" style="padding-bottom:20px">
                                    <br />
                                    <p style="font-size:25px; color:white; text-align:center"><b>Membership Options</b></p>
                                </div>
                            </div>
                            <div class="row" style="color: white">
                                <div class="col-sm-5 col-md-5 col-xs-12" style="padding-bottom:40px; text-align:center; border-top: 3px solid white; border-bottom: 3px solid white; padding-top:40px;">
                                    <p style="font-size:25px">Standard</p>
                                    <p style="font-size:23px">R399 p/m</p>
                                    <p>- Involves going through different gym phases, suited to individual needs</p>
                                    <p>- Programs made depending on your availability, i.e  3 day cycle/4 day cycle</p>
                                    <p>- Long-term body goals</p>
                                    <br />
                                    <a class="btn btn-info" href="http://tracker.gymentor.co.za/Authentication/Register" target="_blank">Join Now!</a>
                                </div>
                                <div class="col-sm-2 col-md-2 col-xs-12" style="padding-bottom:40px">

                                </div>
                                <div class="col-sm-5 col-md-5 col-xs-12" style="text-align:center; border-top: 3px solid white; border-bottom: 3px solid white; padding-bottom:40px; padding-top:40px;">
                                    <p style="font-size:25px">12 Week Challenge</p>
                                    <p style="font-size:23px">R799</p>
                                    <p>- High Intensity Training</p>
                                    <p>- Short term goals i.e Wedding or Big event</p>
                                    <p>- Must be able to train for minimum of 5 days a week</p>
                                    <br />
                                    <a class="btn btn-info" href="http://tracker.gymentor.co.za/Authentication/Register" target="_blank">Join Now!</a>
                                </div>
                            </div>

                            <div class="extra-space-l"></div>
                            <div class="extra-space-l"></div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12" style="padding-bottom:20px">
                                    <p style="font-size:25px; color:white; text-align:center"><b>Packages</b></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="price-box col-sm-6 col-md-4 wow flipInY" style="visibility: hidden; animation-name: none; animation-delay: 0.3s;" data-wow-delay="0.3s">
                                    <div class="panel panel-default">
                                        <div class="panel-heading text-center" style="background-color: #d6a36e !important">
                                            <img src="@Url.Content("~/Content/images")/oiu.png" />
                                            <h3>3 Months</h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            <p class="lead"><strong>R999</strong></p>
                                        </div>
                                        <ul class="list-group text-center">
                                            <li class="list-group-item">SAVE > 15%</li>
                                        </ul>
                                        <div class="panel-footer text-center">
                                            <a class="btn btn-default" href="http://tracker.gymentor.co.za/Authentication/Register" target="_blank">Join Now!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-box col-sm-6 col-md-4 wow flipInY" style="visibility: hidden; animation-name: none; animation-delay: 0.5s;" data-wow-delay="0.5s">
                                    <div class="panel panel-default">
                                        <div class="panel-heading text-center" style="background-color: #bdbdbd !important">
                                            <img src="@Url.Content("~/Content/images")/oiu.png" />
                                            <h3>6 Months</h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            <p class="lead"><strong>R1899</strong></p>
                                        </div>
                                        <ul class="list-group text-center">
                                            <li class="list-group-item">SAVE > 20%</li>
                                        </ul>
                                        <div class="panel-footer text-center">
                                            <a class="btn btn-default" href="http://tracker.gymentor.co.za/Authentication/Register" target="_blank">Join Now!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-box col-sm-6 col-md-4 wow flipInY" style="visibility: hidden; animation-name: none; animation-delay: 0.5s;" data-wow-delay="0.5s">
                                    <div class="panel panel-default">
                                        <div class="panel-heading text-center" style="background-color: #f5d67f !important">
                                            <img src="@Url.Content("~/Content/images")/oiu.png" />
                                            <h3>12 Months</h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            <p class="lead"><strong>R3499</strong></p>
                                        </div>
                                        <ul class="list-group text-center">
                                            <li class="list-group-item">SAVE > 25%</li>
                                        </ul>
                                        <div class="panel-footer text-center">
                                            <a class="btn btn-default" href="http://tracker.gymentor.co.za/Authentication/Register" target="_blank">Join Now!</a>
                                        </div>
                                    </div>
                                </div>

                            </div> <!-- /.row -->


                        </div> <!-- /.container -->
                    </div>
                    <!-- End prices -->
                    <div class="extra-space-l"></div>
                </section>
                <!-- End prices section -->
            </div>
        </div>



        <!-- Begin team-->
        <section class="page" id="team-section" style="background-color:#21272b">
            <!-- Begin page header-->
            <div class="page-header-wrapper">
                <div class="container">
                    <div class="page-header text-center wow fadeInDown" style="visibility: hidden; animation-name: none; animation-delay: 0.4s; color:white" data-wow-delay="0.4s">
                        <h2>Our Mentors</h2>
                        <p class="subtitle">Meet the experts</p>
                    </div>
                </div>
            </div>
            <!-- End page header-->
            <div class="container">
                <div class="row">
                    <div class="team-items">
                        <div class="col-md-6 col-sm-12" style="padding-bottom: 30px">
                            <div class="content" style="text-align:center">
                                <img src="@Url.Content("~/Content/images/luci.jpg")" style="border:7px solid white">
                            </div>
                            <br />
                            <div style="text-align:center; color:white">
                                <p style="font-size: 25px">Luciano Clementi</p>
                                <p style="font-size: 17px">Expertise:</p>
                                <ul style="list-style-type:square;font-size: 17px">
                                    <li> - Weight Loss</li>
                                    <li> - Muscle Gain</li>
                                    <li> - Specialized Sports Training</li>
                                </ul>
                                <br />
                                <p style="font-size: 17px">National Certificate in Fitness and a qualified NASM personal trainer – Physical I.Q.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12" style="padding-bottom: 30px">
                            <div class="content" style="text-align:center">
                                <img src="@Url.Content("~/Content/images/mentor2.jpg")" style="border:7px solid white">
                            </div>
                            <br />
                            <div style="text-align:center; color:white">
                                <p style="font-size: 25px">Ashley Erasmus</p>
                                <p style="font-size: 17px">Expertise:</p>
                                <ul style="list-style-type:square;font-size: 17px">
                                    <li> - Weight Loss</li>
                                    <li> - Conditioning</li>
                                    <li> - Booty Gains</li>
                                </ul>
                                <br />
                                <p style="font-size: 17px">National Certificate in Fitness and a qualified NASM personal trainer – Physical I.Q.</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End team-->

        <!-- Begin contact section -->
        <section class="page text-white parallax" id="contact-section" style='background-position: 0px 91.5px; background-image: url("@Url.Content("~/Content/images")/map.jpg");' data-stellar-background-ratio="0.5">
            <div class="cover"></div>

            <!-- Begin page header-->
            <div class="page-header-wrapper">
                <div class="container">
                    <div class="page-header text-center wow fadeInDown" style="visibility: hidden; animation-name: none; animation-delay: 0.4s;" data-wow-delay="0.4s">
                        <h2>Contact Us</h2>
                        <p class="subtitle">Get in touch</p>
                    </div>
                </div>
            </div>
            <!-- End page header-->

            <div class="contact wow bounceInRight" style="visibility: hidden; animation-name: none; animation-delay: 0.4s;" data-wow-delay="0.4s">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="contact-info">
                                <h4 style="padding-top: 9px">Our Details</h4>
                                <ul class="contact-address">
                                    <li><i class="fa fa-envelope"></i> info@gymentor.co.za</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <a href="https://www.facebook.com/Gymentor" target="_blank"><i class="fa fa-facebook fa-4x" style="padding-top:30px; color:white"></i></a>
                        </div>
                        <div class="col-sm-2">
                            <a href="https://www.instagram.com/gymentor_official" target="_blank"><i class="fa fa-instagram fa-4x" style="padding-bottom: 50px; padding-top:30px; color:white"></i></a>
                        </div>

                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div>
        </section>
        <!-- End contact section -->
        <!-- Begin footer -->
        <footer class="text-off-white">
            <div class="footer">
                <div class="container text-center wow fadeIn" style="visibility: hidden; animation-name: none; animation-delay: 0.4s;" data-wow-delay="0.4s">
                    <p class="copyright">Copyright © 2017 - Gymentor</p>
                    @*<p class="copyright">Developed by <a class="theme-author">Matthew Troost</a></p>*@
                </div>
            </div>
        </footer>
        <!-- End footer -->
        <a class="scrolltotop" style="display: inline;" href="#"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

    </div><!-- body ends -->

    @Scripts.Render("~/bundles/unika_js/jquery")

    <div style="clear: both;"></div>
</body>
</html>

<script>

    function show(sectionName) {

        if(document.getElementById(sectionName).style.display == "block")
            document.getElementById(sectionName).style.display = "none";
        else
            document.getElementById(sectionName).style.display = "block";
    }

</script>
